$primary-color: #368978;
$light-color: #ffffff;
$secondary-color: #6d6875;
$danger-color: #c84823;
$warning-color: #f3c130;
$success-color: #4dc267;
$dark-color: #2e2c2c;
$third-color: #1d483f;
$screen-color: #e4ebe5;
$forth-color: #3d8c7d;
$black-color: #000000;
$orange-color: #e39c1d;
$red-color: #d64848;
$light--red-color: #cb6c6c;
$green-color: #214f46;
$purple-color: #9d6b94;
$gray-color: #5b5555;
$pink-color: #f0dbdb;
$light-gray-color: #d6d6d6;
$light--white-color: #f3f1f1;
$fifth-color: #296a5d;
$light--secondary-color: #555f5d;
$dark--tea-color: #487c7e;
$dark--hr-color: #8c8b8b;
$boder-color: #d3d5d1;
$bode--hover-color: #cb6c6c;
$bode--voucher-color: #e5a3a3;
