@import "colors";
@import "fonts";
.ant-breadcrumb {
  font-family: $font-SFRMeta;
  text-transform: lowercase;
  color: $black-color;
  font-weight: 500;
  padding-bottom: 5px !important;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: $dark-color;
    left: 0;
    bottom: 0;
  }
  a {
    color: $black-color !important;
    font-size: 18px !important;
    &:hover {
      color: $primary-color !important;
    }
  }
}
body.dark {
  .ant-breadcrumb {
    color: $light-color;
    &-separator {
      color: $light-color;
    }
    &::after {
      background: $light-gray-color;
    }
    a {
      color: $light-color !important;
      font-size: 18px !important;
      &:hover {
        color: $primary-color !important;
      }
    }
  }
}
