@import "colors";
@import "fonts";

.btn {
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
  font-size: 1.3vw;
  line-height: 1;
  padding: 0 1.2rem;
  padding-bottom: 0.8rem;
  padding-top: 0.4rem;
  cursor: pointer;
  font-family: $font-SFRMeta;
  transition-duration: 0.2s;
}

.btn-home {
  background-color: $dark-color;
  border: 1px solid transparent;
  color: $light-color !important;

  &:hover {
    background-color: $black-color;
  }
}

.btn-outline {
  background-color: transparent;
}

.outline-gray {
  font-size: 16px;
  border: none;
  color: #918888;
  outline: 3px solid #cec8c8;

  &:hover {
    color: white;
    background-color: #cec8c8;
  }
}

.outline-blue {
  font-size: 16px;
  border: none;
  color: #647d8c;
  outline: 3px solid #94a8b4;

  &:hover {
    color: white;
    background-color: #94a8b4;
  }
}
