@import "colors";
@import "fonts";

#cart {
  font-family: $font-SFRMeta;
  padding: 0px 5vw;
  text-transform: lowercase;
}
// section tong tien
.cart__total {
  background-color: #f3f1f1;
  border: 1px solid #bab3b3;
  color: #696868;
  margin-top: 5px;
  &--bottom {
    padding: 15px 3vw;
    span {
      font-family: Helvetica, sans-serif;
      font-size: 16px;
      text-transform: none;
    }
    .total--left {
      display: flex;
      align-items: center;
      gap: 6px;
      &__text {
        padding-bottom: 4px;
      }
    }
    .total--right {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      align-items: baseline;
      .price {
        color: $red-color;
      }
      .total__all {
        line-height: 35px;
      }
      .cart__button {
        font-family: $font-SFRMeta;
        text-transform: lowercase;
        font-size: 16px;
        background-color: $red-color;
        color: white;
        border: none;
        padding: 4px 16px 8px;
        transition-duration: 0.2s;
        &:hover {
          color: white;
          background-color: #a65050;
        }
      }
    }
  }
}
// noi dung san pham
.cart__product {
  background-color: #f3f1f1;
  padding: 15px 3vw;
  .cart-empty {
    text-align: center;
    padding: 40px 0;
  }
  // title
  &--title {
    .title__only {
      color: #696868;
      font-size: 18px;
    }
    .title__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: 16px;
        font-family: $font-SFUHelveticaLight;
        color: #bdbebe;
        text-transform: none;
      }
    }
  }
}

.cart__product--main {
  padding: 30px 0;
  border-bottom: 1px solid gray;
  &:last-child {
    border: none;
  }
  .main__img {
    gap: 40px;
    display: flex;
    align-items: center;
    img {
      width: 100px;
      object-fit: cover;
      height: 100px;
    }
    h2 {
      font-family: $font-SFUToledoMedium;
      text-transform: none;
      font-size: 22px;
      color: #696868;
    }
  }
}

.main__list {
  color: #696868;
  font-family: Helvetica, sans-serif;
  text-transform: none;
  transition: none;
  &--color {
    width: 20px;
    height: 20px;
  }
  &--price {
    margin-left: 38px;
  }
  .btn-sl {
    background-color: #fcf8f8;
    display: flex;
    .ant-input-number {
      width: 50px;
      border-radius: unset;
      text-align: center;
      border: 1px solid black;
      -webkit-border-radius: unset;
      -moz-border-radius: unset;
      -ms-border-radius: unset;
      -o-border-radius: unset;
      &::-webkit-outer-spin-button {
        display: none;
      }
      &::-webkit-inner-spin-button {
        display: none;
      }
      &-handler-wrap {
        display: none;
      }
    }
    .btn-increment {
      border-radius: unset;
      border: 1px solid black;
      border-left: none;
      padding: 5px 12px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      -webkit-border-radius: unset;
      -moz-border-radius: unset;
      -ms-border-radius: unset;
      -o-border-radius: unset;
      &:disabled {
        cursor: not-allowed;
      }
    }
    .btn-decrement {
      border-radius: unset;
      padding: 5px 12px;
      border: 1px solid black;
      border-right: none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      -webkit-border-radius: unset;
      -moz-border-radius: unset;
      -ms-border-radius: unset;
      -o-border-radius: unset;
      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  &--total {
    margin-right: 28px;
  }
  &--delete {
    margin-right: 10px;
  }
}
