@import "../colors";
@import "../fonts";
.slider {
  font-family: $font-SFRMeta;
  .container_home {
    padding: 0 5vw;
  }

  .slider-left img {
    animation: slide_left 1s ease-out alternate 1;
    -moz-animation: slide_left 1s ease-out alternate 1;
    -webkit-animation: slide_left 1s ease-out alternate 1;
    -o-animation: slide_left 1s ease-out alternate 1;
  }

  @keyframes slide_left {
    from {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
    }

    to {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
    }
  }

  .slider-right {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    img {
      height: 18vw;
      animation: slide_right 1s ease-out alternate 1;
      -moz-animation: slide_right 1s ease-out alternate 1;
      -webkit-animation: slide_right 1s ease-out alternate 1;
      -o-animation: slide_right 1s ease-out alternate 1;

      @keyframes slide_right {
        from {
          transform: translateY(-100%);
        }

        to {
          transform: translateY(0%);
        }
      }
    }

    .slider-right_title {
      margin-left: -28%;
      font-family: $font-SFUToledoMedium;
      animation: outer-title 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
      -moz-animation: outer-title 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
      -webkit-animation: outer-title 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
      -o-animation: outer-title 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;

      @keyframes outer-title {
        from {
          transform: translateX(20%);
        }

        to {
          transform: none;
        }
      }

      h1 {
        font-size: 3.5vw;
        color: #296a5d;
        line-height: 1.23;
      }
    }

    .slider-right_content {
      font-family: $font-SFUHelveticaLight;
      font-size: 1.3vw;
      margin-top: -3vw;
      color: black;
    }
  }
}
